@model List<Order>
<h1 id="orders-heading">List of all the orders</h1>

@foreach (Order Item in Model)
{
<div class="order-wrapper">
<span class="order-label">Order Nr:</span>
@Html.DisplayFor(modelItem => Item.OrderId)
<a id="order-details-link" class="details-link" asp-action="Details" asp-route-id="@Item.OrderId">View Details</a>

    <p class="order-separator">------------------</p>

</div>
}