@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://www.shutterstock.com/image-photo/black-guy-enjoying-eating-tasty-260nw-1888243738.jpg" width="1000" height="700" />
</div>
