<hi> Skapa en ticket </hi>

<form asp-action="Create" method="POST">
    Titel: <input type="text" name="Title" /><br />
    Beskrivning: <input type="text" name="Description" /><br />
    Skapad av: <input type="text" name="Creator" /><br />
    <input type="submit" value="Skapa ticket" />

</form>