<hi> Skapa en ticket </hi>

<form asp-action="Create" method="POST">
    Title: <input type="text" name="Title" /><br />
    Text: <input type="text" name="Description" /><br />
    Author: <input type="text" name="Creator" /><br />
    <input type="submit" value="Skapa ticket" />

</form>